


body {
  background-color: hsl(196, 100%, 95%);
  font-family: 'Roboto', sans-serif;
  padding: 25px 125px 25px 125px
}

p {
  padding-top: 5px;
  padding-bottom: 5px;
}

h1 {
  /*green
  color: hsl(90, 65%, 52%);*/
  /*
  orange*/
  color: hsl(28, 100%, 56%);
}

a {
  /* color: hsl(28, 100%, 56%);*/
}




@media screen and (max-width: 600px) {
  body {
    padding: 5%;
  }
}